# ShellCheck configuration for raibid-ci scripts
# See: https://github.com/koalaman/shellcheck/wiki

# Disable SC2312: Masking return values (we use pipefail)
disable=SC2312

# Disable SC1091: Not following sourced files (we don't use source)
disable=SC1091

# Temporarily disable style warnings during refactoring (WS-00)
# TODO: Re-enable and fix these after refactoring is complete
disable=SC2250  # Prefer braces around variables (style, non-critical)
disable=SC2034  # Variable appears unused (will be used after refactoring)
disable=SC2155  # Declare and assign separately (style, non-critical)
disable=SC2310  # Function in if condition with set -e (informational)

# Enable all optional checks
enable=all

# Shell dialect (bash)
shell=bash
